@model SendEmailViewModel

@{
    ViewData["Title"] = "Connecting Ideas";
}

<header>
    <div class="header-landing-page">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>In love for what we do.</h1>
                <hr>
                <p>We love technology, we love people and we love ideas. Our journey begin today, right now! Let's get the connectivity between us!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out</a>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Implementing ideas</h2>
                    <hr class="light">
                    <p class="text-faded">We do anything in our reach to execute good ideas. Web apps, mobile apps, websites. Aiming always better usability for our customers and users. Seeding and harvesting ideas!</p>
                    <a href="/about.html" class="btn btn-default btn-xl">Meet our team</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At your service:</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-gamepad wow bounceIn text-primary"></i>
                        <h3>Games</h3>
                        <p class="text-muted">As good as any geek, we love games and mobile games! If you want to do a project, contact us!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Web Apps</h3>
                        <p class="text-muted">Our objective is to stablish new patterns to app development through good service and communication to our clients.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Always updated</h3>
                        <p class="text-muted">We always update our technologies. We seek improve our services, always!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-beer wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Contact us</h3>
                        <p class="text-muted">Get in touch for a coffee! We want your feedback! </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="/ipsic" class="portfolio-box">
                        <img src="http://res.cloudinary.com/devneurando/image/upload/v1467739673/Neurando's%20Site/ipsic.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Web Application
                                </div>
                                <div class="project-name">
                                    iPsic
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/kallos" class="portfolio-box">
                        <img src="http://res.cloudinary.com/devneurando/image/upload/v1467739673/Neurando's%20Site/kallos.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Web Application
                                </div>
                                <div class="project-name">
                                    Kallos
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/sanvalentino" class="portfolio-box with-border">
                        <img src="http://res.cloudinary.com/devneurando/image/upload/v1467741816/Neurando's%20Site/sanvalentino.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Website
                                </div>
                                <div class="project-name">
                                    San Valentino
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/austin-site" class="portfolio-box with-border">
                        <img src="http://res.cloudinary.com/devneurando/image/upload/v1467744948/Neurando's%20Site/austins.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Portfolio
                                </div>
                                <div class="project-name">
                                    Austin's Portfolio
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/douglas-site" class="portfolio-box with-border">
                        <img src="http://res.cloudinary.com/devneurando/image/upload/v1467744949/Neurando's%20Site/dougs.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Portfolio
                                </div>
                                <div class="project-name">
                                    Douglas Pires' Portfolio
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/hot-product-finder" class="portfolio-box with-border">
                        <img src="http://res.cloudinary.com/devneurando/image/upload/v1467849109/Neurando's%20Site/hot-product-finder-min.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Multiplatform Application
                                </div>
                                <div class="project-name">
                                    Hot Product Finder
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center"> 
        </div>
    </aside>

    <!--Contact Form-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <form asp-action="SendMail">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Get in touch!</h2>
                        <hr class="primary">
                        <p>Please, leave your message as below and let's have a chat</p>
                    </div>
                    <div class="container contact">
                        <div class="col-xs-12 col-sm-10 col-lg-8 col-lg-offset-2">
                            <div class="input-group-lg">
                                <label>Name:</label>
                                <input asp-for="UserName" type="text" placeholder="Your name goes here" />
                            </div>
                            <div class="input-group-lg">
                                <label>E-mail:</label>
                                <input asp-for="UserMail" type="text" placeholder="email@youremail.com" />
                            </div>
                            <div class="input-group-lg">
                                <label>Message:</label>
                                <textarea asp-for="UserMessage" rows="20" placeholder="Your message here!"></textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-xl page-scroll">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
