@{
    ViewData["Title"] = "Connecting Ideas";
}

<header>
    <div class="container-fluid ipsic-portfolio-page"></div>
</header>
<div class="container">
    <div class="text-center">
        <h1>iPsic - Encontre um psicólogo a qualquer hora</h1>
    </div>
    <div>
        <h3>Company</h3>
        <p>Neurando</p>
    </div>
    <div>
        <h3>URL</h3>
        <a href="http://www.ipsic.com.br" target="_blank"><p>http://www.ipsic.com.br</p></a>
    </div>
    <div>
        <h3>Brief</h3>
        <p>iPsic is a psychologist network that aims to reduce the gap between patients and therapists.</p>

        <p>This project is entirely built using new techs like asp net core. The project has a lot of useful</p>

        <p>tools either for professional or patients.</p>        
    </div>
    <div>
        <h3>Technologies & Tools</h3>
        <ul>
            <li>C#</li>
            <li>Asp Net Core RC2</li>
            <li>Microservices Structure</li>
            <li>Angular JS</li>
        </ul>
    </div>
</div>