@{
    ViewData["Title"] = "At Your Service";
}

<div class="container text-center">
    <h1>Message successfully sent!</h1>
    <p>Hi! Your message was successfully sent to me. Sooner or later I will get in touch to you! I appreciate your interest on my services and feel yourself embraced!</p>
    <p>Kind regards,</p>
    <p>Neurando Team</p>
</div>